/*--------------- default button-------------*/
.btn {
  padding: 10px 30px;
  border-radius: var(--input-radius);
  border: unset;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: var(--greye);
  font-size: 0.8em;
  font-weight: 500;
  font-family: var(--font);

  &.large {
    font-size: 0.9em;
    padding: 12px 60px;
  }
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/*---------------button medium-------------*/

.mbtn {
  padding: 3px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 500;
  font-family: var(--font);
}

.btn,
.mbtn {
  &.theme,
  &.accent {
    color: #fff;
  }

  &.trans {
    color: var(--gray9);
  }

  &.theme-t8 {
    color: var(--theme);
  }
  &.accent-t8 {
    color: var(--accent);
  }

  &.theme_line {
    color: var(--theme);
    border: 1px solid var(--theme);
    background: transparent;
  }
}
