/*----------------margin------------------*/
$margins: (
  auto: auto,

  8: 8px,
  10: 10px,
  25: 0.25rem,
  50: 0.5rem,
  75: 0.75rem,
  1: 1rem,
  125: 1.25rem,
  150: 1.5rem,
  175: 1.75rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem,
  0: 0,
);
@each $k, $v in $margins {
  .m#{$k} {
    margin: $v;
  }

  .mt#{$k} {
    margin-top: $v;
  }
  .mr#{$k} {
    margin-right: $v;
  }
  .ml#{$k} {
    margin-right: $v;
  }

  .p#{$k} {
    padding: $v;
  }

  .pr#{$k} {
    padding-right: $v;
  }
  .pl#{$k} {
    padding-left: $v;
  }
}

/*----------------height------------------*/
$heights: (
  100: 100%,
);
@each $k, $v in $heights {
  .h#{$k} {
    height: $v;
  }
}

$mwidths: (
  100: 100px,
);
@each $k, $v in $mwidths {
  .w-#{$k} {
    width: calc(100% - $v);
  }
}

/*----------------max width------------------*/
$maxwidths: (
  300: 300px,
  1300: 1300px,
);
@each $k, $v in $maxwidths {
  .mw#{$k} {
    max-width: $v;
  }
}

/*----------------icon / square box------------------*/
$ics: (
  5: 5px,
  10: 10px,
  20: 20px,
  30: 30px,
  40: 40px,
  50: 50px,
  60: 60px,
);
@each $k, $v in $ics {
  .ic#{$k} {
    height: $v;
    width: $v;
  }
}

/*----------------top------------------*/
.t0 {
  top: 0;
}
.t50 {
  top: 50%;
}

/*----------------right------------------*/
.r0 {
  right: 0;
}
/*----------------bottom------------------*/
.b0 {
  bottom: 0;
}

/*----------------left------------------*/
.l0 {
  left: 0;
}
.l50 {
  left: 50%;
}

/*----------------transform------------------*/
.tt-50 {
  transform: translate(-50%, -50%);
}

.ttx-50 {
  transform: translateX(-50%);
}
.tty-50 {
  transform: translateY(-50%);
}

.rot45 {
  transform: rotate(45deg);
}
.rot180 {
  transform: rotate(180deg);
}

.lh0 {
  line-height: 0;
}

.ls2 {
  letter-spacing: 2px;
}
