/*------input-------*/
input,
textarea {
  font-family: var(--font);
}

.ninput {
  position: relative;
  margin-top: 30px;

  * {
    user-select: none;
  }

  input,
  textarea {
    border: 1px solid #ccc;
    color: var(--black);
    background: transparent;
    border-radius: 6px;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 0 0 var(--shadow_l);
    transition: box-shadow 0.4s;

    &::placeholder {
      color: transparent;
    }
  }
  textarea {
    resize: vertical;
  }

  label {
    transform: translateY(0);
    left: 12px;
    color: var(--gray9);
    padding: 0 5px;
    top: 12px;
    transition: 0.2s;
    position: absolute;
    z-index: 1;
  }

  input:invalid:not(:focus) {
    border: 1px solid #ff8989;
    color: #eb5a5a;
    ~ label {
      color: #cd1a1a;
    }
  }

  input:focus,
  textarea:focus {
    border: 1px solid var(--theme);
    box-shadow: 0 0 0 6px var(--themel);
  }

  /*label*/
  input:focus ~ label,
  textarea:focus ~ label,
  input:valid:not(:placeholder-shown) ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:valid:not(:placeholder-shown) ~ label {
    transform: translateY(-24px);
    font-size: 14px;
    background: var(--white);
    z-index: 3;
  }

  .password-toggle {
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

    &.password {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%23aaa'%3E%3Cline x1='94' y1='46.1' x2='97.2' y2='46.8'/%3E %3Cpath d='M21.5,15l6.3,9.9C12.5,33,3.6,46.9,3.1,47.8l-0.8,1.5l0.9,1.3c0.7,1.2,18,28.6,46.9,28.6 c4,0,7.8-0.5,11.3-1.4l8.1,12.8l5.9-3.8l-48-75.5L21.5,15z M50.1,73.2c-21.6,0-36.5-18.4-40.6-24.1c2.9-4,10.4-13.3,21.6-19.1 l4.6,7.2c-2.7,3.2-4.4,7.4-4.4,12c0,10.3,8.4,18.7,18.7,18.7c1.7,0,3.3-0.2,4.8-0.6l3.2,5.1C55.5,72.9,52.9,73.2,50.1,73.2z M51.3,61.8c-0.4,0-0.9,0.1-1.3,0.1c-7,0-12.7-5.7-12.7-12.7c0-2.4,0.7-4.6,1.8-6.5L51.3,61.8z'/%3E %3Cpath d='M65.2,60.1c2.2-3.1,3.5-6.8,3.5-10.9c0-10.3-8.4-18.7-18.7-18.7c-1.2,0-2.3,0.1-3.4,0.3l3.6,5.7 c6.9,0.1,12.5,5.8,12.5,12.7c0,1.9-0.4,3.6-1.1,5.2L65.2,60.1z'/%3E %3Cpath d='M96.9,47.8c-0.7-1.2-18-28.6-46.9-28.6c-3.6,0-7,0.4-10.3,1.2l3.5,5.4c2.2-0.4,4.4-0.6,6.8-0.6 c21.6,0,36.5,18.4,40.6,24.1c-2.8,3.8-10,12.8-20.7,18.6l3.3,5.1C88,64.8,96.5,51.4,97,50.6l0.8-1.2L96.9,47.8z'/%3E%3C/svg%3E");
    }
    &.text {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%23aaa'%3E %3Cpath d='M50,67.9c-10.3,0-18.7-8.4-18.7-18.7S39.7,30.5,50,30.5c10.3,0,18.7,8.4,18.7,18.7S60.3,67.9,50,67.9z M50,36.5c-7,0-12.7,5.7-12.7,12.7S43,61.9,50,61.9c7,0,12.7-5.7,12.7-12.7S57,36.5,50,36.5z'/%3E%3Cpath d='M97.8,49.4l-0.9-1.6c-0.7-1.2-18-28.6-46.9-28.6S3.8,46.6,3.1,47.8l-0.8,1.5l0.9,1.3 c0.7,1.2,18,28.6,46.9,28.6S96.3,51.7,97,50.6L97.8,49.4z M50.1,73.2c-21.6,0-36.5-18.4-40.6-24.1c4.3-5.9,19.1-23.9,40.5-23.9 c21.6,0,36.5,18.4,40.6,24.1C86.4,55.2,71.6,73.2,50.1,73.2z'/%3E%3Cline x1='94' y1='46.1' x2='97.2' y2='46.8'/%3E%3C/svg%3E");
    }
  }

  &.phone {
    &:before {
      content: attr(prefix);
      position: absolute;
      top: 13px;
      left: 14px;
    }
    input {
      padding-left: 50px;
    }
    label {
      left: 50px;
    }
  }
}
/*------input-------*/

/*-----checkbox----*/
.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 10px 10px 0;
  position: relative;

  .tick {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 2px solid var(--graya);
    height: 24px;
    width: 24px;
    position: relative;

    &:before {
      border-radius: 5px;
      background: var(--theme);
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.2);
      opacity: 0;
      transition: 0.2s;
    }
  }
  .text {
    display: block;
    padding-left: 10px;
    width: calc(100% - 24px);
  }
  path {
    transition: 0.4s 0.1s;
    fill: none;
    stroke: #fff;
    stroke-dashoffset: 0;
    stroke-dasharray: 0, 30;
  }

  .rb {
    &:checked + .tick {
      border: 2px solid var(--theme);
    }
    &:checked + .tick:before {
      transform: translate(-50%, -50%) scale(1.1);
      opacity: 1;
    }
    &:checked + .tick path {
      transition: 0.4s 0.2s;
      stroke-dasharray: 50, 50;
    }
  }

  &.radio .tick,
  &.radio .tick:before {
    border-radius: 30px;
  }
}
/*-----checkbox----*/

/*-----toggle switch----*/
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grayc);
    border: 2px solid var(--grayc);
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 0;
      bottom: 0;
      background-color: var(--white);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: var(--theme);
    border: 2px solid var(--theme);

    &:before {
      transform: translateX(18px);
    }
  }
}

/*-----toggle switch----*/

/*form processing*/
[processing="1"] .actionBtn,
[processing="0"] .loader {
  display: none;
}

/*----google circular loader---*/
.loader {
  position: relative;
  margin: 0px auto;
  width: 40px;
  height: 40px;

  &.small {
    width: 25px;
    height: 25px;
  }

  .wrap {
    -webkit-animation: rotate360 2s linear infinite;
    animation: rotate360 2s linear infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  circle {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite,
      color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke: var(--theme);
  }
}

/*-----------------success tick------------------*/
.successtick svg {
  width: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
.ct_anim .ct_t,
.ct_anim .ct_c {
  stroke: var(--theme);
  fill: none;
  transition: 0.4s !important;
  stroke-dasharray: 0, 300;
}
.ct_anim .ct_c {
  transition: 1s 0.6s !important;
}

.successtick[state="default"] .ct_c {
  stroke-dasharray: 0, 300;
  transition: 0.01s !important;
}

.successtick[state="processing"] svg {
  animation: rotate360 0.6s linear infinite;
}
.successtick[state="processing"] .ct_c {
  stroke-dasharray: 129, 79;
}

.successtick[state="active"] .ct_t {
  stroke-dasharray: 75, 0;
}
.successtick[state="active"] .ct_c {
  stroke-dasharray: 300, 300;
}
/*-----------------success tick------------------*/

.form-error {
  color: var(--red);
  font-size: 0.8em;
}
