/*
https://glyphter.com
xbl7@xbytelab.com
Qwerty098#
*/

@font-face {
  font-family: "xbl";
  src: url("../../fonts/xbl.woff");
  font-weight: normal;
  font-style: normal;
}
[class*="xbl-"]:before {
  display: inline-block;
  font-family: "xbl";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.xbl-strikethrough:before {
  content: "\0041";
}
.xbl-underline:before {
  content: "\0042";
}
.xbl-undo:before {
  content: "\0043";
}
.xbl-unlink:before {
  content: "\0044";
}
.xbl-align-center:before {
  content: "\0045";
}
.xbl-align-justify:before {
  content: "\0046";
}
.xbl-align-left:before {
  content: "\0047";
}
.xbl-align-right:before {
  content: "\0048";
}
.xbl-bold:before {
  content: "\0049";
}
.xbl-italic:before {
  content: "\004a";
}
.xbl-link:before {
  content: "\004b";
}
.xbl-list-bullet:before {
  content: "\004c";
}
.xbl-list-numbered:before {
  content: "\004d";
}
.xbl-redo:before {
  content: "\004e";
}
.xbl-monospace:before {
  content: "\004f";
}
.xbl-blockquote:before {
  content: "\0050";
}
