/*
https://glyphter.com
dashboard@grocered.in
Qwerty098#
*/

@font-face {
  font-family: "dashboard grocered";
  src: url("../../fonts/dashboard-grocered.woff");
  font-weight: normal;
  font-style: normal;
}
[class*="ix-"]:before {
  display: inline-block;
  font-family: "dashboard grocered";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ix-box:before {
  content: "\0041";
}
.ix-call:before {
  content: "\0042";
}
.ix-cart:before {
  content: "\0043";
}
.ix-chat:before {
  content: "\0044";
}
.ix-cod:before {
  content: "\0045";
}
.ix-delivery:before {
  content: "\0046";
}
.ix-feedback:before {
  content: "\0047";
}
.ix-home:before {
  content: "\0048";
}
.ix-job:before {
  content: "\0049";
}
.ix-location:before {
  content: "\004a";
}
.ix-note:before {
  content: "\004b";
}
.ix-quality:before {
  content: "\004c";
}
.ix-shop:before {
  content: "\004d";
}
.ix-star:before {
  content: "\004e";
}
.ix-story:before {
  content: "\004f";
}
.ix-user:before {
  content: "\0050";
}
.ix-verified:before {
  content: "\0051";
}
.ix-whatsapp:before {
  content: "\0052";
}
.ix-analytics:before {
  content: "\0053";
}
.ix-arrow:before {
  content: "\0054";
}
.ix-search:before {
  content: "\0055";
}
.ix-settings:before {
  content: "\0056";
}
.ix-x:before {
  content: "\0057";
}
.ix-delete:before {
  content: "\0058";
}
.ix-logout:before {
  content: "\0059";
}
.ix-three-dot:before {
  content: "\005a";
}
.ix-love-line:before {
  content: "\0061";
}
.ix-send:before {
  content: "\0062";
}
.ix-love:before {
  content: "\0063";
}
.ix-share:before {
  content: "\0064";
}
.ix-calendar:before {
  content: "\0065";
}
.ix-clock:before {
  content: "\0066";
}
