@mixin media($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
/*
.header {
    font-size: 1rem;
    @include media('lg') {
        font-size: 2rem;
    }
}
*/

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
/*
div::after {
    @include pseudo;
    top: -1rem;
}
*/

@mixin aspect-ratio($x, $y) {
  padding-top: unquote(($y / $x) * 100 + "%");
}
/*
div {
    @include responsive-ratio(16,9);
}
*/

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}
/*
input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
}
*/
