/*------------
xs upto 584
sm upto 768
md upto 992
lg upto 1200
xl upto 1400
xx upto 1920
k4 from 1920

$xs: 0px;
$sm: 584px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$k2: 1920px;
$k4: 2560px;
--------------*/

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  width: 100%;
}

/*----------------width------------------*/
$widths: (
  0: 0,
  10: 10%,
  16: 16.66%,
  20: 20%,
  25: 25%,
  30: 30%,
  33: 33.33%,
  40: 40%,
  50: 50%,
  60: 60%,
  66: 66.66%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%,
);
@each $k, $v in $widths {
  .w#{$k} {
    width: $v;
  }
}

/*-------------------------------------------------------------------------
  
    for tablet
  
  ------------------------------------------------------------------------*/
@include media("sm") {
  .xs {
    display: none;
  }

  @each $k, $v in $widths {
    .sm-w#{$k} {
      width: $v;
    }
  }
}
/*-------------------------------------------------------------------------
  
    for tablet, md, 768px
  
  ------------------------------------------------------------------------*/
@include media("md", max) {
  .md-up {
    display: none;
  }
}
@include media("md") {
  .md-down {
    display: none;
  }

  @each $k, $v in $widths {
    .md-w#{$k} {
      width: $v;
    }
  }

  .flex-md {
    display: flex;
  }

  .pl1-md {
    padding-left: 1rem;
  }
}

/*-------------------------------------------------------------------------
  
    for tablet in landscape, lg, 992px
  
------------------------------------------------------------------------*/
@include media("lg", max) {
  .lg-up {
    display: none;
  }
}
@include media("lg") {
  .md {
    display: none;
  }

  @each $k, $v in $widths {
    .lg-w#{$k} {
      width: $v;
    }
  }
}

/*-------------------------------------------------------------------------
  
    for normal laptop/pc screen , 1200px
  
------------------------------------------------------------------------*/
@include media("xl") {
  @each $k, $v in $widths {
    .xl-w#{$k} {
      width: $v;
    }
  }
}

/*-------------------------------------------------------------------------
  
    for large screen,xxl, 1400px
  
  ------------------------------------------------------------------------*/
@include media("xxl") {
  @each $k, $v in $widths {
    .xxl-w#{$k} {
      width: $v;
    }
  }
}

/*-------------------------------------------------------------------------
  
    for 2k or extra large, k2
  
------------------------------------------------------------------------*/
@include media("k2") {
}
