$sidebar: 230px;

#sidebar {
  width: $sidebar;

  .content {
    height: calc(100% - 66px);
  }

  .footer {
    height: 66px;
  }

  @include media("md", max) {
    display: none;
  }

  .item {
    > .wrap {
      display: flex;
      align-items: center;
      color: var(--gray8);
      .icon {
        margin-right: 10px;
      }
    }

    &.active {
      background-color: var(--theme-t9) !important;
      > .wrap {
        background-color: var(--theme-t9) !important;
        color: var(--theme) !important;
        font-weight: 500;
      }
    }
    &.active > .wrap .ic {
      color: var(--theme) !important;
    }
    &:not(.active):hover {
      background-color: var(--theme-t9);
      color: var(--theme);
    }
  }
}

/*----pages having right side bar----*/
.sidebar-300,
.sidebar-350,
.sidebar-400 {
  .sidebar {
    width: var(--sidebar-width);
    position: fixed;
    transform: translateX(100%);
    visibility: hidden;
  }

  &:not([sidebar="0"]) {
    .main {
      width: calc(100% - var(--sidebar-width));
    }
    .sidebar {
      transform: translateX(0);
      visibility: visible;
      &.right {
        animation: slideRight 0.2s linear;
      }
    }
  }
}
.sidebar-300 {
  --sidebar-width: 300px;
}
.sidebar-350 {
  --sidebar-width: 350px;
}
.sidebar-400 {
  --sidebar-width: 400px;
}
/*----pages having right side bar----*/
